* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    inset: 0;
    background-color: #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by satyamchaudharydev */
.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #044335;
    --second-color: #044335;
    --third-color: #044335;
    --fourth-color: #044335;
    --fifth-color: #044335;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
}

.loading span {
    width: 8px;
    height: 100px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

@keyframes scale {
    0%,
    40%,
    100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
    }
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(0px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    width: 18rem;
    /* 72px, adjust as needed */
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    color: #044335;
}

.achiveactive {
    display: flex;
}

.achivehidden {
    display: none;
}

.carousel .dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel .dragging img {
    pointer-events: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
